*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(102, 75, 164);
}

h1{
    text-align: center;
}

#create{
    display: block;
  margin: 20px auto;
   background-color: blanchedalmond;
   padding: 10px;
   border-radius: 8px;
}

input,label{
    margin: 8px 5px;
}

input:not([type="submit"]){
    width: 15vw;
}

label{
    width: 5vw;
}

#submit,#close{
    display: block;
    padding: 3px;
    width: 10vw;
    margin: 6px auto;
}

#myModal{
    display: none;
   margin: 10px auto;
    bottom: 50%;
    border: 1px solid black;
    width: 20vw;
    height: 25vh;
    
}

.container{
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
max-height: 100vh;
margin: 20px 20px 5px 5px;

}

.bookBox{
    display:flex;
    flex-direction: column;
    border:2px solid black;
    width: 20rem;
    height: 12rem;
    background-color: antiquewhite;
    gap:5px;
}

.listItem{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}

.buttonBox{
    display: flex;
    justify-content: left;

}

.btnOne,.btnTwo{
    padding: 5px;
    margin:5px 15px;
}